<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Fullstack Demo</title>
    <link href="{{ url_for('static', filename='stylesheets/style.css') }}" rel="stylesheet" type="text/css">
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
    <h1>Fullstack Demo</h1>
    <script>
      function go_to_site() {
          var site_id = document.getElementById("site_id_input").value;
          var url_base = "default_network/";
          var url = url_base.concat(site_id);
          document.location.href = url;
      }
    </script>
    Enter a site ID: <input type="text" id="site_id_input"><br>
    <button onclick="go_to_site()">Submit</button>
    </form>
  </body>
</html>
